<section class="inner-page">
        <div class="profile">
        
            <div class="inner-head">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>{{ 'CGP.APPOINTMENT.Appointment' | translate }}</h2>
                        </div>
                    </div> 
                </div>                            
            </div> 
                <div class="container-fluid inner-head-link">
                    <div class="row">
                        <div class="col-12">
                                <div class="container">
                                        <div class="inner-head-link">
                                                <ul class="nav nav-tabs" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">{{ 'CGP.APPOINTMENT.Coming-soon' | translate }}</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">{{ 'CGP.APPOINTMENT.Past' | translate }}</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">{{ 'CGP.APPOINTMENT.Cancelled' | translate }}</a>
                                                        </li>
                                                    </ul>
                                        </div>
                                </div>
                        </div>
        
                    </div>
                </div>  
                <div class="container">
                        <div class="row">
                            <div class="col-12">
                                    <div class="profile-details mar-btm-50">
                                            <!-- Tab panes -->
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                                            <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="pad-20 table-responsive content-table">
                                                                                <table class="table">
                                                                                        <thead>
                                                                                          <tr>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Date' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Hour' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Last-name' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Email' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Pattern' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Type' | translate }}</th>
                                                                                            <th></th>
                                                                                          </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                        </tbody>
                                                                                      </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                                                            <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="pad-20 table-responsive content-table">
                                                                                <table class="table">
                                                                                        <thead>
                                                                                          <tr>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Date' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Hour' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Last-name' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Email' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Pattern' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Type' | translate }}</th>
                                                                                            <th></th>
                                                                                          </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                        </tbody>
                                                                                      </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                                                            <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="pad-20 table-responsive content-table">
                                                                                <table class="table">
                                                                                        <thead>
                                                                                          <tr>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Date' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Hour' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Last-name' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Email' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Pattern' | translate }}</th>
                                                                                            <th>{{ 'CGP.APPOINTMENT.Type' | translate }}</th>
                                                                                            <th></th>
                                                                                          </tr>
                                                                                        </thead>
                                                                                        <tbody>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                          <tr>
                                                                                            <td>Nov 12</td>
                                                                                            <td>14:00</td>
                                                                                            <td>Hervé Duris</td>
                                                                                            <td>Hervé Duris@gmail.com</td>
                                                                                            <td>Investment project study</td>
                                                                                            <td>In Video</td>
                                                                                            <td>
                                                                                                    <div class="dropdown">
                                                                                                            <button type="button" class="btn btn-outline-pri dropdown-toggle" data-toggle="dropdown">
                                                                                                                    {{ 'CGP.APPOINTMENT.Launch-videoconference' | translate }}
                                                                                                            </button>
                                                                                                            <div class="dropdown-menu">
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Send-message' | translate }}</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Call' | translate }} +333 4411 2345</a>
                                                                                                              <a class="dropdown-item" href="#">{{ 'CGP.APPOINTMENT.Modify-cancel' | translate }}</a>
                                                                                                            </div>
                                                                                                          </div>
                                                                                            </td>
                                                                                            <td>
                                                                                                    <button class="btn btn-none"><i class="fas fa-ellipsis-v"></i></button>
                                                                                            </td>
                                                                                          </tr>
                                                                                        </tbody>
                                                                                      </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                    </div>
                                                </div>
                                    </div>
                            </div>
        
                        </div>
                </div>       
                        
            
        </div>
        </section>