<div class="cpg-main">
    <div class="container">
        <div class="col-12">
            <div class="login-form reset-form">
                <!-- server response alert -->
                <div class="alert {{ responseMessage.alertType }}"  *ngIf="responseMessage.flag" role="alert">{{ responseMessage.message | translate }}</div>

                    <ol>
                            <li>
                              <p>{{ 'PUBLIC-RESET.enter-the-email-address' | translate }} </p>
                            </li>
                            <li>
                              <p>{{ 'PUBLIC-RESET.You-will-receive-an-email' | translate }}</p>
                            </li>
                            <li>
                             <p> {{ 'PUBLIC-RESET.after-validating' | translate }}</p>
                            </li>
                          </ol>
                          <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <form [formGroup]="form" (keydown)="keyDownAuthenticate($event)" autocomplete="off">
                                    <div class="cgp-bdr" [ngClass]="{ 'border-red': form.controls['email'].invalid && resetPasswordFormlag.email, 'border-green': !form.controls['email'].invalid  && resetPasswordFormlag.email }">
                                        <div class="form-group cgp-style">
                                                <input type="text" class="form-control" required="required" placeholder="{{ 'PUBLIC-RESET.email' | translate }}" (keyup)="onKeyEmailValidation($event)"  formControlName="email">
                                        </div>
                                        <div *ngIf="resetPasswordFormlag.email && form.controls['email'].invalid " class="err">
                                            <p *ngIf="form.controls['email'].errors?.required">
                                                {{ 'PUBLIC-RESET.validation.email-required' | translate }}
                                            </p>
                                            <p *ngIf="form.controls['email'].errors?.pattern">
                                                {{ 'PUBLIC-RESET.validation.email-pattern' | translate }}
                                            </p>
                                        </div>
                                    </div>

                                    <button class="btn btn-outline-pri pad-20" (click)="submit()">
                                        {{ 'PUBLIC-RESET.reset-password' | translate }}
                                    </button>
                                </form>
                            </div>
                        </div>
            </div>
        </div>

    </div>
</div>
