<!---Before login home page-->
<div class="contaner-fluid" *ngIf="!user">
  <div class="cgp-header">
    <div class="menu">
      <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" routerLink="/homepage">
          <img class="cgp-logo" src="assets/images/LogoPatrimonist.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarcgp"
          aria-controls="navbarcgp"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <i class="far fa-user"></i> -->
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarcgp">
          <div class="new-menu">
            <app-speciality-header-outer></app-speciality-header-outer>
          </div>

          <ul class="navbar-nav navbar-right-top" *ngIf="user && user?.role=='USER'">
            <li class="nav-item dropdown nav-user">
              <a
                class="nav-link nav-user-img"
                href="#"
                id="navbarcgp2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="d-flex">
                  <div class="cgp-icon"><i class="far fa-user"></i></div>
                  <div class="info">
                    <a href="#" class="d-block">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</a>
                    <!-- <span class="sub-text">{{user.lastName}} </span> -->
                  </div>
                </div>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                aria-labelledby="navbarcgp2"
              >
                <div class="nav-user-info">
                  <li  class="nav-item dropdown">
                  <a class="dropdown-item" routerLink="/user/profile">{{ 'HOME.HEADER.profile' | translate }}</a>
<!--                  <a class="dropdown-item">{{ 'HOME.HEADER.favorites' | translate }}</a>-->
                  <a class="dropdown-item" href="javascript:;" (click)="logout()">{{ 'HOME.HEADER.logout' | translate }}</a>
                </li>

                </div>
              </div>
            </li>
          </ul>

          <!-- <ul class="navbar-nav navbar-right-top">
            <li class="nav-item dropdown nav-user">
              <a
                class="nav-link nav-user-img"
                href="#"
                id="navbarcgp2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="d-flex">
                  <div class="cgp-icon" routerLink="/auth/login"><i class="far fa-user"></i></div>
                  <div class="info" routerLink="/auth/login">
                    <a class="d-block">{{ 'HOME.HEADER.To-log-in' | translate }}</a>
                    <span class="sub-text">{{ 'HOME.HEADER.Manage-my-appointments' | translate }} </span>
                  </div>
                </div>
              </a>
            </li>
          </ul> -->
          <ul class="navbar-nav navbar-nav-notuser">
            <li class="">
              <button type="button" class="btn btn-new-pri" routerLink="/auth/login" data-toggle="dropdown">{{ 'HOME.HEADER-NEW.connection' | translate }}</button>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<!---After login home page-->
<div class="contaner-fluid" *ngIf="user">
  <div class="cgp-header">
    <div class="menu">
      <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" *ngIf="user && user?.role=='USER'" routerLink="/homepage">
          <img class="cgp-logo" src="assets/images/LogoPatrimonist.png" />
        </a>
        <a class="navbar-brand" *ngIf="user && user?.role=='CGP'" routerLink="/cgp/profile">
          <img class="cgp-logo" src="assets/images/LogoPatrimonist.png" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarcgp"
          aria-controls="navbarcgp"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <i class="far fa-user"></i> -->
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarcgp">
          <div class="new-menu">
            <app-speciality-header-outer></app-speciality-header-outer>
          </div>

          <ul class="navbar-nav navbar-right-top" *ngIf="user && user?.role=='USER'">
            <li class="nav-item dropdown nav-user">
              <a
                class="nav-link nav-user-img"
                href="#"
                id="navbarcgp2"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <div class="d-flex">
                  <div class="cgp-icon"><i class="far fa-user"></i></div>
                  <div class="info">
                    <a href="#" class="d-block">{{user.firstName | titlecase}} {{user.lastName | titlecase}}</a>
                    <!-- <span class="sub-text">{{user.lastName}} </span> -->
                  </div>
                </div>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                aria-labelledby="navbarcgp2"
              >
                <div class="nav-user-info">
                  <li  class="nav-item dropdown">
                  <a class="dropdown-item" routerLink="/user/profile">{{ 'HOME.HEADER.profile' | translate }}</a>
<!--                  <a class="dropdown-item">{{ 'HOME.HEADER.favorites' | translate }}</a>-->
                  <a class="dropdown-item" href="javascript:;" (click)="logout()">{{ 'HOME.HEADER.logout' | translate }}</a>
                </li>

                </div>
              </div>
            </li>
          </ul>

          <ul class="navbar-nav ml-auto" *ngIf="user && user?.role=='CGP'">
           <li  class="nav-item dropdown">
            <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown">{{ user?.firstName | titlecase}} {{ user?.lastName | titlecase}}</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="/cgp/profile">{{ 'CGP-HEADER.conmpany-info' | translate }}</a>
              <a class="dropdown-item" routerLink="/cgp/setting">{{ 'CGP-HEADER.settings' | translate }}</a>
              <a class="dropdown-item" routerLink="/cgp/contents">{{ 'CGP-HEADER.contents' | translate }}</a>
              <a class="dropdown-item" routerLink="/cgp/team">{{ 'CGP-HEADER.team' | translate }}</a>
              <a class="dropdown-item" (click)="logout()">{{ 'CGP-HEADER.logout' | translate }}</a>
            </div>
            </li>
            <!-- <li  class="nav-item dropdown">
            <button type="button" class="btn btn-new dropdown-toggle" data-toggle="dropdown">{{ 'HOME.HEADER-NEW.cgp-access' | translate }}</button>

            </li> -->
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
