<app-speciality-header *ngIf="!user"></app-speciality-header>
<app-speciality-header *ngIf="user && user?.role === 'USER'"></app-speciality-header>
<div style="position: relative">
  <div id="loader-cgp">
<section class="category" *ngIf="aticlesList.length">
  <div class="container">
    <h1>{{name}}</h1>
    <app-articles-grid [list]="aticlesList" [type]="type" [id]="id"></app-articles-grid>
  </div>
</section>
  </div>
  <ngx-ui-loader bdColor="rgba(0, 0, 0, 0.8)" size="medium" [hasProgressBar]="false" fgsColor="#fff" fgsType="ball-scale-multiple" [loaderId]="'loader-cgp'"></ngx-ui-loader>
</div>
