<!--Home Page-->
<div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12">
                    <div class="cgp-logo">
                        <img src="assets/images/LogoPatrimonistIcon.png">
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                    <div class="foot-link">
                        <ul>
                            <li routerLink="/why-patrimonist">{{ 'HOME.FOOTER.why-cgp' | translate }}</li>
                            <li routerLink="/auth/request">{{ 'HOME.FOOTER.to-refere-cgp' | translate }}</li>
                            <li><a href="#" routerLink="/privacy-policy" target="_blank">{{ 'HOME.FOOTER.legal-notice' | translate }}</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                    <div class="social">
                            <ul class="follow">
                                <li><a href="https://www.facebook.com/Patrimonist"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="https://twitter.com/patrimonist"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/patrimonist/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--CGP Footer-->
<div class="footer" style="display: none;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="cgp-logo">
                    <img src="assets/images/cgp-logo.png">
                </div>
            </div>
        </div>
    </div>
</div>
