<section class="inner-page my-account">
        <div class="profile">
        
        <div class="inner-head">
        <div class="container">
                <div class="row">
                        <h2>{{ 'MY-PERSPNAL-ACCOUNT.Appointment' | translate }}</h2>
                </div>
        </div>
        </div>
        <div class="container-fluid inner-head-link">
                <div class="row">
                <div class="col-12">
                        <div class="container">
                                <div class="inner-head-link">                            
                                        <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">2020</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">2021</a>
                                                </li>
                                                <!-- <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">{{ 'PROFILE.synccalender' | translate }}</a>
                                                </li> -->
                                        </ul>
                                </div>
                        </div>
                </div>
        
                </div>
        </div>
        <div class="container">
                <div class="row">
                        <div class="col-12">
                                <div class="profile-details mar-btm-50">
                                        <!-- Tab panes -->
                <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="row">
                                <div class="col-12 col-lg-8 col-md-8">
                                
                        <!--1-->
                        <div class="mar-20">
                                <h2>{{ 'MY-PERSPNAL-ACCOUNT.Coming-soon' | translate }}</h2>
                                <div class="cgp-bdr">
                                <div class="w-50 app-le">
                                    <div class="pad-40">
                                        <h3>Nov 12, 2020 <span>14:00</span></h3>
                                        <p class="bol">John Dupont <span>Name of the firm</span></p>
                                        <p>Investment project study</p>
                                    </div>
                                </div>
                                <div class="w-50 app-re">
                                    <div class="pad-40">
                                        <h3><i class="fas fa-home"></i> {{ 'MY-PERSPNAL-ACCOUNT.In-the-office' | translate }}</h3>
                                        <p>2 rue du général leclerc 75010 Paris</p>
                                        <p><span>{{ 'MY-PERSPNAL-ACCOUNT.See-the-itinerary' | translate }}</span></p>
                                    </div>
                                </div>
        
                                </div>
                        </div>
                        <!--1-->
                        <!--2-->
                        <div class="mar-20">
                                <div class="cgp-bdr">
                                <div class="w-50 app-le">
                                    <div class="pad-40">
                                        <h3>Nov 12, 2020 <span>14:00</span></h3>
                                        <p class="bol">John Dupont <span>Name of the firm</span></p>
                                        <p>Investment project study</p>
                                    </div>
                                </div>
                                <div class="w-50 app-re">
                                    <div class="pad-40">
                                        <h3><i class="fas fa-video"></i> {{ 'MY-PERSPNAL-ACCOUNT.In-the-office' | translate }}</h3>
                                        <button class="btn btn-primary">{{ 'MY-PERSPNAL-ACCOUNT.Launch-videoconference' | translate }} <i class="fas fa-arrow-right"></i></button>
                                    </div>
                                </div>
        
                                </div>
                        </div>
                        <!--2-->
                        <!--3-->
                        <div class="mar-20">
                                <div class="cgp-bdr">
                                <div class="w-50 app-le">
                                    <div class="pad-40">
                                        <h3>Nov 12, 2020 <span>14:00</span></h3>
                                        <p class="bol">John Dupont <span>Name of the firm</span></p>
                                        <p>Investment project study</p>
                                    </div>
                                </div>
                                <div class="w-50 app-re">
                                    <div class="pad-40">
                                        <h3><i class="fas fa-video"></i> {{ 'MY-PERSPNAL-ACCOUNT.In-the-office' | translate }}</h3>
                                        <p><span>{{ 'MY-PERSPNAL-ACCOUNT.Launch-videoconference' | translate }} 15 min</span></p>                                        
                                    </div>
                                </div>
        
                                </div>
                        </div>
                        <!--3-->
                        <!--4-->
                        <div class="mar-50">
                                <h2>{{ 'MY-PERSPNAL-ACCOUNT.Past' | translate }}</h2>
                                <div class="cgp-bdr">
                                <div class="w-50 app-le">
                                    <div class="pad-40">
                                        <h3>Nov 12, 2020 <span>14:00</span></h3>
                                        <p class="bol">John Dupont <span>Name of the firm</span></p>
                                        <p>Investment project study</p>
                                    </div>
                                </div>
                                <div class="w-50 app-re">
                                    <div class="pad-40">
                                        <h3><i class="fas fa-video"></i> {{ 'MY-PERSPNAL-ACCOUNT.In-the-office' | translate }}</h3>
                                        <p><span>{{ 'MY-PERSPNAL-ACCOUNT.The-appointment-is-finished' | translate }}</span></p>
                                    </div>
                                </div>
        
                                </div>
                        </div>
                        <!--4-->
                        <!--5-->
                        <div class="mar-20">
                                <div class="cgp-bdr">
                                <div class="w-50 app-le">
                                    <div class="pad-40">
                                        <h3>Nov 12, 2020 <span>14:00</span></h3>
                                        <p class="bol">John Dupont <span>Name of the firm</span></p>
                                        <p>Investment project study</p>
                                    </div>
                                </div>
                                <div class="w-50 app-re">
                                    <div class="pad-40">
                                        <h3><i class="fas fa-video"></i> {{ 'MY-PERSPNAL-ACCOUNT.In-the-office' | translate }}</h3>
                                        <p><span>{{ 'MY-PERSPNAL-ACCOUNT.The-appointment-is-finished' | translate }}</span></p>
                                    </div>
                                </div>
        
                                </div>
                        </div>
                        <!--5-->
                        <!--6-->
                        <div class="mar-50">
                                <h2>{{ 'MY-PERSPNAL-ACCOUNT.Cancelled' | translate }}</h2>
                                <div class="cgp-bdr">
                                <div class="w-50 app-le">
                                    <div class="pad-40">
                                        <h3>Nov 12, 2020 <span>14:00</span></h3>
                                        <p class="bol">John Dupont <span>Name of the firm</span></p>
                                        <p>Investment project study</p>
                                    </div>
                                </div>
                                <div class="w-50 app-re">
                                    <div class="pad-40">
                                        <h3><i class="fas fa-video"></i> {{ 'MY-PERSPNAL-ACCOUNT.In-the-office' | translate }}</h3>
                                        <p><span>{{ 'MY-PERSPNAL-ACCOUNT.The-appointment-is-finished' | translate }}</span></p>
                                    </div>
                                </div>
        
                                </div>
                        </div>
                        <!--6-->
                </div>
                                <div class="col-12 col-lg-4 col-md-4">
                                        <div class="mar-20">
                                                  <div class="row">
                                                    <div class="col-12">
                                                        <div class="app-btn">
                                                            <button class="btn btn-outline-pri">{{ 'MY-PERSPNAL-ACCOUNT.Make-an-appointment' | translate }}</button>
                                                        </div>
                                                    </div>
                                                  </div>
                                        </div>
                                </div>
                        </div>
                        </div>
                        <!--2021-->
                        <div class="tab-pane" id="tabs-2" role="tabpanel">                                
                                <div class="mar-top-50">
                                    <div class="container">
                                            <div class="col-12">
                                                
                                            </div>                                                
                                    </div>
                                </div>                               
                        </div>
                        <!--2021-->
                </div>
                </div>
        </div>
        
        </div>
        </div>
        
        
        </div>
        </section>
        