@import '../../../../styles.scss';

.most-recommended{
  padding: 60px 0;
  position: relative;
  .diamond {
    position: absolute;
    width: 500px;
    height: 500px;
    left: -326px;
    top: 150px;
    background: #E7ECFD;
    border-radius: 20px;
    transform: rotate(45deg);
    z-index: -2;
  }
  .most-head{
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: $black;
    margin-bottom: 50px;

    h2 {
      font-size: 32px;
    }
  }
  .border-gradient {
    background: linear-gradient(45deg, #6C63FF, #8E37D7);
    // padding: 20px;
    padding: 10px;
    border-radius: 8px;
    text-align: left;
    position: relative;
    margin-bottom: 40px;
    height: 100px;
    cursor: pointer;
    border: 1px solid $white;
    &:before{
      content: "";
      background: $white;
      position: absolute;
      top: -3px;
      left: -3px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
      z-index: -1;
      border-radius: 10px;
    }
    &:hover{
      @include btn-hover-new;
      h2{
        color: $black;
      }
      p{
        color: $black;
      }
    }
    &:active{
      @include btn-hover-new;
    }
    h2{
      color: $black;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      height: 44px;
      color: $white;
    }
    p{
      font-size: 14px;
      line-height: 15px;
      margin-bottom: 0px;
      color: $white;
    }
  }
}
