@import '../../../../styles.scss';

.browser-default{
border: 1px solid #E1E2E6;
border-radius: 0;
}
.bdr-round{
    border-radius: 50%;
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    &:hover{
        @include btn-color;
        color: #fff;
    }
}
.modal {
    left: auto !important;
    padding-right: 0px !important;
    width: 500px;
    .modal-dialog {
      margin: 0 auto !important;
      .modal-content {
        height: auto;
        border-radius: 0 !important;
          .modal-header {
            border-bottom: none;
            h4{
                font-size: 18px !important;
            }
        }
          .modal-footer {
            border-top: none;
        }
      }

    }
    .modal-dialog-centered {
        min-height: 100vh !important;
    }
  }

  .content-table{
    table{
        thead{
            tr{
                th{
                    border-top: none !important;
                    border-bottom: 1px solid #EFEFEF;
                }
            }
        }
        tr{
            td{
                color: #4F4F4F;
                font-size: 14px;
                vertical-align: middle;
                border-bottom: 1px solid #EFEFEF;
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
}


.modal.new {
    left: auto !important;
    padding-right: 0px !important;
    width: 100%;
  }

.mar-top-35{
    margin-top: 35px;
}

.err{
    padding: 8px 0px !important;
}

