<div class="cpg-main">
    <div class="container">
        <div class="col-12">
            <div class="public-login">
                 <!-- server response alert -->

                        <div class="tab-content">
                            <form [formGroup]="form" (keydown)="keyDownAuthenticate($event)" autocomplete="off">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                    <h2 class="set-password">{{ 'PUBLIC-RESET.reset-password' | translate }}</h2>
                                    <h3 class="continue">{{ 'PUBLIC-CHANGEPASSWORD.toContinue' | translate }}</h3>


                                <div class="cgp-bdr mar-btm-40" [ngClass]="{ 'border-red': form.controls['password'].invalid && formFlag.password, 'border-green': !form.controls['password'].invalid  && formFlag.password }">
                                    <div class="form-group cgp-style">
                                            <input type="password" class="form-control" required="required" placeholder="{{ 'PUBLIC-CHANGEPASSWORD.password' | translate }}" formControlName="password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}">
                                    </div>

                                    <div *ngIf="form.controls['password'].invalid && (form.controls['password'].dirty || submitAttempt)" class="err">
                                        <p *ngIf="form.controls['password'].errors?.required">
                                            {{'PUBLIC-CHANGEPASSWORD.validation.password-required' | translate}}
                                        </p>
                                        <p *ngIf="form.controls['password'].errors?.pattern">
                                            {{'PUBLIC-CHANGEPASSWORD.validation.password-pattern' | translate}}
                                        </p>
                                     </div>
                                </div>
                                <div class="cgp-bdr mar-btm-40" [ngClass]="{ 'border-red': form.controls['confirmPassword'].invalid && formFlag.confirmPassword, 'border-green': !form.controls['confirmPassword'].invalid  && formFlag.confirmPassword }">
                                        <div class="form-group cgp-style">
                                                <input type="password" class="form-control" required="required" placeholder="{{ 'PUBLIC-CHANGEPASSWORD.confirm-password' | translate }}" formControlName="confirmPassword" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}">
                                        </div>

                                        <div *ngIf="form.controls['confirmPassword'].invalid && (form.controls['confirmPassword'].dirty || submitAttempt)" class="err">
                                            <p *ngIf="form.controls['confirmPassword'].errors?.required">
                                                {{'PUBLIC-CHANGEPASSWORD.validation.confirm-password-required' | translate}}
                                            </p>
                                            <p *ngIf="form.controls['confirmPassword'].errors?.pattern">
                                                {{'PUBLIC-CHANGEPASSWORD.validation.password-pattern' | translate}}
                                            </p>
                                            <p *ngIf="form.controls['confirmPassword'].errors?.mustMatch">
                                                {{'PUBLIC-CHANGEPASSWORD.validation.match-password-required' | translate}}
                                            </p>
                                        </div>
                                </div>

                                <button class="btn btn-outline-pri pad-20" (click)="submit()">
                                    {{ 'PUBLIC-CHANGEPASSWORD.submit' | translate }}
                                </button>
                                <div style="height: 180px;"></div>
                            </div>
                        </form>
                        </div>
            </div>
        </div>

    </div>
</div>
