<app-speciality-header></app-speciality-header>
    <section class="category">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="category-list">
                            <div class="most-head">
                                    <ul>
                                        <li routerLink="/landing/category">{{ 'HOME.CATEGORY.Real-Estate' | translate }}</li>
                                        <li>></li>
                                        <li>{{ 'HOME.CATEGORY.Articles' | translate }}</li>
                                    </ul>
                                    <h2>
                                        {{ 'HOME.CATEGORY.Real-Estate' | translate }}
                                    </h2>

                            </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="pro-bdr">
            <div class="pro-info">
                <div class="container">
                        <div class="row">
                                <div class="col-12">
                                    <div class="pro-info-left">
                                        <div class="advice mar-btm-20">
                                            <div class="row">
                                                <div class="col-12">
                                                    <ul>
                                                        <li class="active" routerLinkActive="active">{{ 'CGP-PROFILE.all' | translate }}</li>
                                                        <li routerLinkActive="active">{{ 'CGP-PROFILE.articles' | translate }}</li>
                                                        <li routerLinkActive="active">{{ 'CGP-PROFILE.podcasts' | translate }}</li>
                                                        <li routerLinkActive="active">{{ 'CGP-PROFILE.videos' | translate }}</li>
                                                        <li routerLinkActive="active">{{ 'CGP-PROFILE.guides' | translate }}</li>
                                                    </ul>
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                                                        <div class="card">
                                                            <img class="card-img-top" src="assets/images/expert-advice.png" alt="">
                                                                <div class="card-block">
                                                                    <h4 class="card-title">{{ 'CGP-PROFILE.finance-law' | translate }} 2021 : {{ 'CGP-PROFILE.calculate-the-impact-on-your-wealth' | translate }}</h4>
                                                                    <p class="card-text">{{ 'CGP-PROFILE.by' | translate }} {{ 'CGP-PROFILE.profile-name' | translate }}</p>

                                                                </div>
                                                                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                                                        <div class="stats">12 nov 2020</div>
                                                                        <div class="views">
                                                                            <a class="btn btn-primary"><i class="fas fa-headphones"></i></a>
                                                                        </div>

                                                                      </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                                                            <div class="card">
                                                                <img class="card-img-top" src="assets/images/expert-advice.png" alt="">
                                                                    <div class="card-block">
                                                                        <h4 class="card-title">{{ 'CGP-PROFILE.finance-law' | translate }} 2021 : {{ 'CGP-PROFILE.calculate-the-impact-on-your-wealth' | translate }}</h4>
                                                                        <p class="card-text">{{ 'CGP-PROFILE.by' | translate }} {{ 'CGP-PROFILE.profile-name' | translate }}</p>

                                                                    </div>
                                                                    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                                                            <div class="stats">12 nov 2020</div>
                                                                            <div class="views">
                                                                                <a class="btn btn-primary"><i class="fas fa-sticky-note"></i></a>
                                                                            </div>

                                                                          </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                                                                <div class="card">
                                                                    <img class="card-img-top" src="assets/images/expert-advice.png" alt="">
                                                                        <div class="card-block">
                                                                            <h4 class="card-title">{{ 'CGP-PROFILE.finance-law' | translate }} 2021 : {{ 'CGP-PROFILE.calculate-the-impact-on-your-wealth' | translate }}</h4>
                                                                            <p class="card-text">{{ 'CGP-PROFILE.by' | translate }} {{ 'CGP-PROFILE.profile-name' | translate }}</p>

                                                                        </div>
                                                                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                                                                <div class="stats">12 nov 2020</div>
                                                                                <div class="views">
                                                                                    <a class="btn btn-primary"><i class="fas fa-bars"></i></a>
                                                                                </div>

                                                                              </div>
                                                                    </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                                                                    <div class="card">
                                                                        <img class="card-img-top" src="assets/images/expert-advice.png" alt="">
                                                                            <div class="card-block">
                                                                                <h4 class="card-title">{{ 'CGP-PROFILE.finance-law' | translate }} 2021 : {{ 'CGP-PROFILE.calculate-the-impact-on-your-wealth' | translate }}</h4>
                                                                                <p class="card-text">{{ 'CGP-PROFILE.by' | translate }} {{ 'CGP-PROFILE.profile-name' | translate }}</p>

                                                                            </div>
                                                                            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                                                                    <div class="stats">12 nov 2020</div>
                                                                                    <div class="views">
                                                                                        <a class="btn btn-primary"><i class="fas fa-bars"></i></a>
                                                                                    </div>

                                                                                  </div>
                                                                        </div>
                                                                </div>
                                            </div>
                                            <!--row 2-->
                                            <div class="row">
                                                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                                                        <div class="card">
                                                            <img class="card-img-top" src="assets/images/expert-advice.png" alt="">
                                                                <div class="card-block">
                                                                    <h4 class="card-title">{{ 'CGP-PROFILE.finance-law' | translate }} 2021 : {{ 'CGP-PROFILE.calculate-the-impact-on-your-wealth' | translate }}</h4>
                                                                    <p class="card-text">{{ 'CGP-PROFILE.by' | translate }} {{ 'CGP-PROFILE.profile-name' | translate }}</p>

                                                                </div>
                                                                <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                                                        <div class="stats">12 nov 2020</div>
                                                                        <div class="views">
                                                                            <a class="btn btn-primary"><i class="fas fa-play"></i></a>
                                                                        </div>

                                                                      </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                                                            <div class="card">
                                                                <img class="card-img-top" src="assets/images/expert-advice.png" alt="">
                                                                    <div class="card-block">
                                                                        <h4 class="card-title">{{ 'CGP-PROFILE.finance-law' | translate }} 2021 : {{ 'CGP-PROFILE.calculate-the-impact-on-your-wealth' | translate }}</h4>
                                                                        <p class="card-text">{{ 'CGP-PROFILE.by' | translate }} {{ 'CGP-PROFILE.profile-name' | translate }}</p>

                                                                    </div>
                                                                    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                                                            <div class="stats">12 nov 2020</div>
                                                                            <div class="views">
                                                                                <a class="btn btn-primary"><i class="fas fa-play"></i></a>
                                                                            </div>

                                                                          </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                                                                <div class="card">
                                                                    <img class="card-img-top" src="assets/images/expert-advice.png" alt="">
                                                                        <div class="card-block">
                                                                            <h4 class="card-title">{{ 'CGP-PROFILE.finance-law' | translate }} 2021 : {{ 'CGP-PROFILE.calculate-the-impact-on-your-wealth' | translate }}</h4>
                                                                            <p class="card-text">{{ 'CGP-PROFILE.by' | translate }} {{ 'CGP-PROFILE.profile-name' | translate }}</p>

                                                                        </div>
                                                                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                                                                <div class="stats">12 nov 2020</div>
                                                                                <div class="views">
                                                                                    <a class="btn btn-primary"><i class="fas fa-play"></i></a>
                                                                                </div>

                                                                              </div>
                                                                    </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
                                                                    <div class="card">
                                                                        <img class="card-img-top" src="assets/images/expert-advice.png" alt="">
                                                                            <div class="card-block">
                                                                                <h4 class="card-title">{{ 'CGP-PROFILE.finance-law' | translate }} 2021 : {{ 'CGP-PROFILE.calculate-the-impact-on-your-wealth' | translate }}</h4>
                                                                                <p class="card-text">{{ 'CGP-PROFILE.by' | translate }} {{ 'CGP-PROFILE.profile-name' | translate }}</p>

                                                                            </div>
                                                                            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                                                                    <div class="stats">12 nov 2020</div>
                                                                                    <div class="views">
                                                                                        <a class="btn btn-primary"><i class="fas fa-play"></i></a>
                                                                                    </div>

                                                                                  </div>
                                                                        </div>
                                                                </div>
                                            </div>
                                            </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-center mar-top-20">
                                                        <button class="btn btn-outline w-auto pad-lr-20">{{ 'CGP-PROFILE.see-all-expert-reviews' | translate }}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
                </div>
    </section>

    <section class="slide">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner">
                                       <div class="carousel-item active">
                                          <div class="row">
                                              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                    <div class="card">
                                                            <div class="card-top">
                                                                <p>{{ 'HOME.CATEGORY.Real-Estate' | translate }}</p>
                                                                <p>{{ 'HOME.CATEGORY.acquisition' | translate }}</p>
                                                            </div>
                                                                <div class="card-block">
                                                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>

                                                                </div>
                                                            </div>
                                              </div>
                                              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                    <div class="card">
                                                            <div class="card-top">
                                                                <p>{{ 'HOME.CATEGORY.Real-Estate' | translate }}</p>
                                                                <p>{{ 'HOME.CATEGORY.acquisition' | translate }}</p>
                                                            </div>
                                                                <div class="card-block">
                                                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>

                                                                </div>
                                                            </div>
                                              </div>
                                              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                    <div class="card">
                                                            <div class="card-top">
                                                                <p>{{ 'HOME.CATEGORY.Real-Estate' | translate }}</p>
                                                                <p>{{ 'HOME.CATEGORY.acquisition' | translate }}</p>
                                                            </div>
                                                                <div class="card-block">
                                                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>

                                                                </div>
                                                            </div>
                                              </div>
                                              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                    <div class="card">
                                                            <div class="card-top">
                                                                <p>{{ 'HOME.CATEGORY.Real-Estate' | translate }}</p>
                                                                <p>{{ 'HOME.CATEGORY.acquisition' | translate }}</p>
                                                            </div>
                                                                <div class="card-block">
                                                                    <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>

                                                                </div>
                                                            </div>
                                              </div>
                                          </div>
                                       </div>
                                       <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                      <div class="card">
                                                              <div class="card-top">
                                                                  <p>{{ 'HOME.CATEGORY.Real-Estate' | translate }}</p>
                                                                  <p>{{ 'HOME.CATEGORY.acquisition' | translate }}</p>
                                                              </div>
                                                                  <div class="card-block">
                                                                      <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>

                                                                  </div>
                                                              </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                      <div class="card">
                                                              <div class="card-top">
                                                                  <p>{{ 'HOME.CATEGORY.Real-Estate' | translate }}</p>
                                                                  <p>{{ 'HOME.CATEGORY.acquisition' | translate }}</p>
                                                              </div>
                                                                  <div class="card-block">
                                                                      <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>

                                                                  </div>
                                                              </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                      <div class="card">
                                                              <div class="card-top">
                                                                  <p>{{ 'HOME.CATEGORY.Real-Estate' | translate }}</p>
                                                                  <p>{{ 'HOME.CATEGORY.acquisition' | translate }}</p>
                                                              </div>
                                                                  <div class="card-block">
                                                                      <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>

                                                                  </div>
                                                              </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                                      <div class="card">
                                                              <div class="card-top">
                                                                  <p>{{ 'HOME.CATEGORY.Real-Estate' | translate }}</p>
                                                                  <p>{{ 'HOME.CATEGORY.acquisition' | translate }}</p>
                                                              </div>
                                                                  <div class="card-block">
                                                                      <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque </p>

                                                                  </div>
                                                              </div>
                                                </div>
                                            </div>
                                         </div>
                                    </div>
                                    <a  href="#carouselExampleIndicators" data-slide="next">
                                            <div class="carousel-nav-icon">
                                                <i class="fas fa-chevron-right"></i>
                                            </div>
                                            </a>
                                 </div>

                    </div>
                </div>
            </div>
        </section>

